<section class="contact-section section">
    <div class="section-heading title">
        <h2>CONTACT US</h2>
        <h3>Empowering Your Vision with Innovative Solutions</h3>
        <p>At Pixel8Cloud, we're passionate about delivering creative, high-quality solutions that empower brands and
            bring visions to life. Founded by Prakhar Sahu, Pixel8Cloud began as a freelance endeavor and has grown into
            a digital agency dedicated to innovation, quality, and client success.</p>
        <p>Our commitment to excellence and client satisfaction drives everything we do. Whether you're looking for web
            development, branding, or digital design, Pixel8Cloud is here to support your journey. Let's connect and
            bring your ideas to life.</p>
    </div>
    <div class="contact-us">
        <h2>Drop Us an Email</h2>
        <a href="mailto:pixel8cloud@gmail.com" aria-label="Email Pixel8Cloud">
            <button class="email-button">
                pixel8cloud&#64;gmail.com
            </button>
        </a>
    </div>
</section>