<footer class="footer">
    <div class="footer-header">
        <div class="header-content">
            <h2>Get In Touch</h2>
            <p>If you have any questions or would like to discuss a project, drop us an email!</p>
        </div>
        <div class="socials">
            <ng-container *ngFor="let social of socialLinks">
                <a [href]="social.href" target="_blank" rel="noopener noreferrer external"
                    [attr.data-platform]="social.alt" [ariaLabel]="social.ariaLabel" class="social-link">
                    <div class="social-icon" [style.backgroundImage]="'url(' + social.src + ')'" [ariaHidden]="true">
                        <span class="visually-hidden">{{ social.ariaLabel }}</span>
                    </div>
                </a>
            </ng-container>
        </div>
    </div>
    <div class="footer-content">
        <div class="footer-content-left">
            <ul class="footer-column">
                <li><a aria-label="Go to Home page" routerLink="/">Home</a></li>
                <li><a aria-label="View Portfolio" routerLink="/work">Portfolio</a></li>
                <li><a aria-label="Explore Services" routerLink="/services">Services</a></li>
                <li><a aria-label="Learn About Us" routerLink="/about">About Us</a></li>
                <li><a aria-label="Get in Touch" routerLink="/contact">Contact Us</a></li>
            </ul>
        </div>
        <div class="footer-content-right">
            <h3>Subscribe to our newsletter</h3>
            <p>Stay updated with our latest news</p>
            <form action="#">
                <input type="email" placeholder="Your email" />
                <button type="submit">&#8599;</button>
            </form>
        </div>
    </div>
    <div class="footer-bottom">
        <h2>PIXEL8CLOUD</h2>
        <p>&copy; 2024 Pixel8Cloud. All Rights Reserved.</p>
    </div>
</footer>