<nav class="navbar">
    <div class="logo">
        <img src="./pixel8cloud-design-development-agency-logo_200x200.png"
            alt="Pixel8Cloud - Design and Development Agency Logo"
            srcset="./pixel8cloud-design-development-agency-logo_50x50.png 50w, ./pixel8cloud-design-development-agency-logo_100x100.png 100w, ./pixel8cloud-design-development-agency-logo_200x200.png 200w"
            sizes="(max-width: 600px) 50px,(max-width: 600px) 100px, 200px">
        <button class="toggle-button" (click)="toggleNav()">☰</button>
    </div>
    <ul class="nav-links" [class.active]="isNavOpen">
        <li>
            <a (click)="toggleNav()" routerLink="/" routerLinkActive="active-link"
                [routerLinkActiveOptions]="{exact: true}" aria-label="Go to Home page">Home</a>
        </li>
        <li>
            <a (click)="toggleNav()" routerLink="/work" routerLinkActive="active-link"
                aria-label="View Portfolio">Portfolio</a>
        </li>
        <li>
            <a (click)="toggleNav()" routerLink="/services" routerLinkActive="active-link"
                aria-label="Explore Services">Services</a>
        </li>
        <li>
            <a (click)="toggleNav()" routerLink="/about" routerLinkActive="active-link"
                aria-label="Learn About Us">About Us</a>
        </li>
        <li>
            <a (click)="toggleNav()" routerLink="/faqs" routerLinkActive="active-link"
                aria-label="View Frequently Asked Questions">Faqs</a>
        </li>
        <li>
            <a (click)="toggleNav()" routerLink="/contact" aria-label="Get in Touch">Contact Us</a>
        </li>
    </ul>
</nav>