<nav class="navbar">
    <div class="logo">
        <img src="./pixel8cloud-design-development-agency-logo_300x300.png"
            alt="Pixel8Cloud - Design and Development Agency Logo"
            srcset="./pixel8cloud-design-development-agency-logo_100x100.png 100w, ./pixel8cloud-design-development-agency-logo_200x200.png 200w, ./pixel8cloud-design-development-agency-logo_300x300.png 300w"
            sizes="(max-width: 600px) 100px,(max-width: 600px) 200px, 300px">
        <button class="toggle-button" (click)="toggleNav()">☰</button>
    </div>
    <ul class="nav-links" [class.active]="isNavOpen">
        <li><a (click)="toggleNav()" routerLink="/" routerLinkActive="active-link"
                [routerLinkActiveOptions]="{exact: true}">Home</a></li>
        <li><a (click)="toggleNav()" routerLink="/work" routerLinkActive="active-link">Portfolio</a></li>
        <li><a (click)="toggleNav()" routerLink="/services" routerLinkActive="active-link">Services</a></li>
        <li><a (click)="toggleNav()" routerLink="/about" routerLinkActive="active-link">About Us</a></li>
        <li><a (click)="toggleNav()" routerLink="/contact">Contact Us</a></li>
    </ul>
</nav>