<section class="about-page section">
    <div class="section-heading title about-us">
        <h2>ABOUT US</h2>
        <h3>Delivering Creative and High-Quality Solutions Worldwide</h3>
        <p>Pixel8Cloud was founded by Prakhar Sahu as a leap into the world of freelancing and entrepreneurship. Driven
            by a passion for design and development, Prakhar established Pixel8Cloud to deliver innovative solutions
            that meet the needs of a diverse range of clients. Through commitment to creativity and quality, Pixel8Cloud
            has grown from a small venture into a dedicated digital agency.</p>
    </div>

    <div class="video">
        <video class="video-metadata" loading="lazy" src="./pixel8cloud_intro.mp4"
            poster="./pixel8cloud_intro_poster.webp" width="100%" height="100%" controls loop></video>
    </div>
</section>
<section class="about-team section">
    <div class="section-heading title">
        <h2>MEET THE TEAM</h2>
        <h3>Our Dedicated Professionals</h3>
        <p>Pixel8Cloud is led by passionate individuals who bring diverse expertise to each project. Our team is
            dedicated to delivering excellence in every aspect of design, development, and client service. With strong
            leadership and a shared commitment to quality, we work collaboratively to bring innovative ideas to life.
        </p>
    </div>
    <div class="team">
        <div *ngFor="let member of teamMembers" class="team-member">
            <img [src]="member.imgSrc+'_200x200.webp'" [alt]="member.name + ' - ' + member.role"
                [srcset]="member.imgSrc + '_50x50.webp 50w, ' + member.imgSrc + '_100x100.webp 100w, ' + member.imgSrc + '_200x200.webp 200w'"
                sizes="(max-width: 600px) 50px,(max-width: 1200px) 100px,200px">
            <h3>{{ member.name }}</h3>
            <p>{{ member.role }}</p>
            <p class="desc">{{ member.description }}</p>
        </div>
    </div>
</section>
<section class="core-values section">
    <div class="section-heading title">
        <h2>OUR CORE VALUES</h2>
        <h3>Commitment to Excellence</h3>
        <p>We pride ourselves on upholding values that guide our work and client relationships. Each project is
            approached with a commitment to customer-focused solutions, continual learning, and high standards of
            quality and transparency. Innovation remains at the heart of Pixel8Cloud's approach, pushing us to exceed
            expectations and drive client success.</p>
    </div>
    <div class="about-choose-us">
        <ul>
            <li>Customer-Centric Solutions</li>
            <li>Continuous Learning and Growth</li>
            <li>Quality and Transparency</li>
            <li>Commitment to Innovation</li>
        </ul>
    </div>
</section>